<!doctype html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <img class="erLogo" src="/img/eslogo.JPG">
</head>


<body>
<div class="main-content">
    <h1>  {{>header}} </h1>
    <p>Owner {{name}} </p>
</div>




{{>footer}}         
</body>


</html>